<cnt-flexy-view-islam-visit-wrapper-1-0-0 [payload]='forWrapper()'
                                          [pathToAssets]='pathToAssets'>

</cnt-flexy-view-islam-visit-wrapper-1-0-0>
<cnt-flexy-view-islam-visit-create-1-0-0 [payload]='forCreate()'
                                         [pathToAssets]='pathToAssets'>

</cnt-flexy-view-islam-visit-create-1-0-0>
<cnt-flexy-view-islam-visit-tell-1-0-0 [payload]='forTell()'
                                       [pathToAssets]='pathToAssets'>

</cnt-flexy-view-islam-visit-tell-1-0-0>
<cnt-flexy-view-islam-visit-input-1-0-0 [payload]='forInput()'
                                        [pathToAssets]='pathToAssets'>

</cnt-flexy-view-islam-visit-input-1-0-0>



